[Unit]
Description="Canto Node"
After=network-online.target

[Service]
User=USER
ExecStart=/home/INSERT_YOUR_USERNAME_HERE/go/bin/cantod start
Restart=always
RestartSec=3
LimitNOFILE=4096
Environment="DAEMON_NAME=cantod"
Environment="DAEMON_HOME=/home/INSERT_YOUR_USERNAME_HERE/.cantod"
Environment="DAEMON_ALLOW_DOWNLOAD_BINARIES=false"
Environment="DAEMON_RESTART_AFTER_UPGRADE=true"
Environment="UNSAFE_SKIP_BACKUP=true"

[Install]
WantedBy=multi-user.target
